<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evo.sp.business.content.mapper.RVideoMapper">

    <select id="queryListPage" parameterType="com.evo.sp.business.content.entity.vo.RVideoVo" resultType="com.evo.sp.business.content.entity.vo.RVideoVo">


    </select>
</mapper>
