<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evo.sp.business.content.mapper.RefAppColumnMapper">

    <!--根据栏目id删除-->
    <delete id="delsBycolumnId" parameterType="List">
      DELETE FROM ref_app_column WHERE column_id in
        <foreach collection="columnIds"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>

    <!--根据应用id删除-->
    <delete id="delsByAppId" parameterType="List">
DELETE FROM ref_app_column WHERE app_id in
        <foreach collection="appIds"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>
</mapper>
